.nl_intra_act_as_table {
    display: table;
}
.nl_intra_act_as_row  {
    display: table-row !important;
    page-break-inside: avoid;
}
.nl_intra_act_as_cell {
    display: table-cell;
    page-break-inside: avoid;
    font-size:18px;
}
.nl_intra_act_as_row.labels {
    background-color:#F0F0F0;
}
.nl_intra_data_table {
    width: 100%;
    table-layout: fixed;
    border-left:0px;
    border-right:0px;
    text-align:left;
    font-size:18px;
    padding-right:3px;
    padding-left:3px;
    padding-top:3px;
    padding-bottom:3px;
    border-collapse:collapse;
}
.nl_intra_data_table .nl_intra_act_as_cell{
    border-bottom: 1px solid lightGrey;
    text-align: center;
    word-wrap: break-word;
}
.nl_intra_data_table .nl_intra_act_as_row.labels {
    font-weight: bold;
}
.nl_intra_act_as_cell.right {
    word-wrap:normal;
    text-align:right;
}
.nl_intra_act_as_cell.left {
    text-align:left;
}
.nl_intra_custom_footer {
    font-size:18px;
}
