interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connect.liza.nl/V2.0/alacarteservice.asmx
  response:
    body:
      string: "<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tns=\"ALaCarte\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:http=\"http://schemas.microsoft.com/ws/06/2004/policy/http\"
        xmlns:msc=\"http://schemas.microsoft.com/ws/2005/12/wsdl/contract\" xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"
        xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"
        xmlns:wsam=\"http://www.w3.org/2007/05/addressing/metadata\" targetNamespace=\"ALaCarte\"
        name=\"AlacarteServiceV2_0\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:types>\r\n    <xsd:schema elementFormDefault=\"qualified\" targetNamespace=\"ALaCarte\">\r\n
        \     <xsd:element name=\"GetCompanyByRegistrationNumber\">\r\n        <xsd:complexType>\r\n
        \         <xsd:sequence>\r\n            <xsd:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"request\" type=\"tns:RequestCompanyByRegistrationNumber\" />\r\n          </xsd:sequence>\r\n
        \       </xsd:complexType>\r\n      </xsd:element>\r\n      <xsd:element name=\"GetCompanyByRegistrationNumberResponse\">\r\n
        \       <xsd:complexType>\r\n          <xsd:sequence>\r\n            <xsd:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetCompanyByRegistrationNumberResult\"
        type=\"tns:R[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:SearchCompanies
      xmlns:ns0="ALaCarte"><ns0:request><ns0:CountryCode>BE</ns0:CountryCode><ns0:SearchTerm>Scheerders
      van Kerchoves Verenigde Fabrieken</ns0:SearchTerm><ns0:Login>lizatestlogin</ns0:Login><ns0:Password>lizatestpassword</ns0:Password><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>5d8116241ce7c76e8365d6ab5b250c23b8ef5fbf</ns0:LoginHash><ns0:Language>FR</ns0:Language></ns0:request></ns0:SearchCompanies></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"ALaCarte/AlacarteServiceV2_0/SearchCompanies"'
    method: POST
    uri: https://connect.liza.nl/V2.0/alacarteservice.asmx
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <s:Body>\r\n
        \   <SearchCompaniesResponse xmlns=\"ALaCarte\">\r\n      <SearchCompaniesResult>\r\n
        \       <StatusCode>0</StatusCode>\r\n        <StatusMessage>Success</StatusMessage>\r\n
        \       <SearchResponseList>\r\n          <SearchResponseItem>\r\n            <CountryCode>BE</CountryCode>\r\n
        \           <RegistrationNumber>BE 0405.056.855</RegistrationNumber>\r\n            <CompanyName>Scheerders
        van Kerchove's Verenigde Fabrieken</CompanyName>\r\n            <Country>Belgique</Country>\r\n
        \           <Street>Aerschotstraat</Street>\r\n            <City>Sint-Niklaas</City>\r\n
        \           <IsActive>true</IsActive>\r\n          </SearchResponseItem>\r\n
        \         <SearchResponseItem>\r\n            <CountryCode>BE</CountryCode>\r\n
        \           <RegistrationNumber>BE 0891.903.122</RegistrationNumber>\r\n            <CompanyName>Scheerders
        Jan</CompanyName>\r\n            <Country>Belgique</Country>\r\n            <Street>Eeckbergstraat(SGW)</Street>\r\n
        \           <City>Sint-Gillis-Waas</City>\r\n            <IsActive>true</IsActive>\r\n
        \         </S[...]
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:GetCompanyByRegistrationNumber
      xmlns:ns0="ALaCarte"><ns0:request><ns0:CountryCode>BE</ns0:CountryCode><ns0:RegistrationNumber>BE
      0405.056.855</ns0:RegistrationNumber><ns0:Login>lizatestlogin</ns0:Login><ns0:Password>lizatestpassword</ns0:Password><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>5d8116241ce7c76e8365d6ab5b250c23b8ef5fbf</ns0:LoginHash><ns0:Language>FR</ns0:Language></ns0:request></ns0:GetCompanyByRegistrationNumber></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"ALaCarte/AlacarteServiceV2_0/GetCompanyByRegistrationNumber"'
    method: POST
    uri: https://connect.liza.nl/V2.0/alacarteservice.asmx
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <s:Body>\r\n
        \   <GetCompanyByRegistrationNumberResponse xmlns=\"ALaCarte\">\r\n      <GetCompanyByRegistrationNumberResult>\r\n
        \       <StatusCode>0</StatusCode>\r\n        <StatusMessage>Success</StatusMessage>\r\n
        \       <CompanyResponse>\r\n          <PreferredLanguages>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>\r\n              <UsesDutch>true</UsesDutch>\r\n              <UsesFrench>false</UsesFrench>\r\n
        \             <UsesGerman>false</UsesGerman>\r\n              <LanguageString>nl</LanguageString>\r\n
        \           </Value>\r\n          </PreferredLanguages>\r\n          <CountryCode>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>BE</Value>\r\n
        \         </CountryCode>\r\n          <RegistrationNumber>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>0405056855</Value>\r\n          </RegistrationNumber>\r\n
        \         <VatNumber>\r\n            <IsEnabled>true</IsEnabled>\r\n            <Value>BE
        0405.056.855</Value>\r\n          </VatNumber>\r\n          <VatEnabled>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>true</Value>\r\n
        \         </VatEnabled>\r\n          <RsinNumber>\r\n            <IsEnabled>false</IsEnabled>\r\n
        \         </RsinNumber>\r\n          <IsInFollowUp>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>true</Value>\r\n          </IsInFollowUp>\r\n          <FollowUpReference>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value />\r\n          </FollowUpReference>\r\n
        \         <CompanyName>\r\n            <IsEnabled>true</IsEnabled>\r\n            <Value>Scheerders
        van Kerchove's Verenigde Fabrieken</Value>\r\n          </CompanyName>\r\n
        \         <CompanyNameAndForm>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>Scheerders van Kerchove's Verenigde Fabrieken SA</Value>\r\n
        \         </CompanyNameAndForm>\r\n          <CommercialName>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value />\r\n          </CommercialName>\r\n          <ShortName>\r\n
        \           <IsEnabled>false</IsEnabled>\r\n            <Value />\r\n          </ShortName>\r\n
        \         <LegalForm>\r\n            <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n
        \             <Abbreviation>SA</Abbreviation>\r\n              <Code>14</Code>\r\n
        \           </Value>\r\n          </LegalForm>\r\n          <Address>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <Street>Aerschotstraat</Street>\r\n
        \             <HouseNumber>114</HouseNumber>\r\n              <Box />\r\n
        \             <HouseNumberAndBox>114</HouseNumberAndBox>\r\n              <PostalCode>9100</PostalCode>\r\n
        \             <City>Sint-Niklaas</City>\r\n              <Country>Belgique</Country>\r\n
        \             <CountryCode>BE</CountryCode>\r\n              <Line1>Aerschotstraat
        114</Line1>\r\n              <Line2>9100 Sint-Niklaas</Line2>\r\n              <Line3>Belgique</Line3>\r\n
        \             <BeStAddId>20001200962</BeStAddId>\r\n            </Value>\r\n
        \         </Address>\r\n          <TelephoneNumber>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>037604900</Value>\r\n          </TelephoneNumber>\r\n          <TelephoneNumberAll>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <string>037604900</string>\r\n
        \           </Value>\r\n          </TelephoneNumberAll>\r\n          <EmailAddress>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>info@svk.be</Value>\r\n
        \         </EmailAddress>\r\n          <EmailAddressAll>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>\r\n              <string>info@svk.be</string>\r\n            </Value>\r\n
        \         </EmailAddressAll>\r\n          <Website>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>https://svk.be</Value>\r\n          </Website>\r\n          <WebsiteAll>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <string>https://svk.be</string>\r\n
        \           </Value>\r\n          </WebsiteAll>\r\n          <CompanyStatus>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <Code>0</Code>\r\n
        \             <Info>Actif</Info>\r\n            </Value>\r\n          </CompanyStatus>\r\n
        \         <StartDate>\r\n            <IsEnabled>true</IsEnabled>\r\n            <Value>19280929</Value>\r\n
        \         </StartDate>\r\n          <EndDate>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>0</Value>\r\n          </EndDate>\r\n          <Score>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <Info>score</Info>\r\n
        \             <ScoreImage>neg-34.png</ScoreImage>\r\n              <ScoreAsInt>-34</ScoreAsInt>\r\n
        \             <ScoreAsDecimal>-3.4</ScoreAsDecimal>\r\n            </Value>\r\n
        \         </Score>\r\n          <CreditLimit>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>\r\n              <Limit>0</Limit>\r\n              <Code>3</Code>\r\n
        \             <Info>R\xE9sultat tr\xE8s n\xE9gatif</Info>\r\n            </Value>\r\n
        \         </CreditLimit>\r\n          <PaymentExperience>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>\r\n              <PercentagePayedAfter0To30Days>99.93</PercentagePayedAfter0To30Days>\r\n
        \             <PercentagePayedAfter30To60Days>0.04</PercentagePayedAfter30To60Days>\r\n
        \             <PercentagePayedAfter60To90Days>0</PercentagePayedAfter60To90Days>\r\n
        \             <PercentagePayedAfter90To120Days>0</PercentagePayedAfter90To120Days>\r\n
        \             <PercentagePayedAfter120To160Days>0</PercentagePayedAfter120To160Days>\r\n
        \             <PercentagePayedAfter160DaysOrMore>0.04</PercentagePayedAfter160DaysOrMore>\r\n
        \             <Warning />\r\n              <ReportUrl>https://www.liza.nl/fr/c/0405056855/svk#payment_experience</ReportUrl>\r\n
        \           </Value>\r\n          </PaymentExperience>\r\n          <WarningsOverview>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <Warnings>\r\n
        \               <string>Dettes \xE9chues envers l'ONSS (\xB02024 53.929 \u20AC)</string>\r\n
        \               <string>Rendement n\xE9gatif sur le total de l'actif durant
        au moins les deux derni\xE8res ann\xE9es (\xB02024)</string>\r\n                <string>Liquidit\xE9
        au sens strict &lt; 0.65 (\xB02022) (\xB02023) (\xB02024)</string>\r\n              </Warnings>\r\n
        \             <Url>https://www.liza.nl/fr/c/0405056855/svk#warning_detail</Url>\r\n
        \           </Value>\r\n          </WarningsOverview>\r\n          <CurrentManagement>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <Management>\r\n
        \               <Management>\r\n                  <FunctionCode>10002</FunctionCode>\r\n
        \                 <FunctionDescription>Administrateur</FunctionDescription>\r\n
        \                 <StartDate>20241002</StartDate>\r\n                  <EndDate>20311231</EndDate>\r\n
        \                 <CompanyCountryCode />\r\n                  <CompanyRegistrationNumber
        />\r\n                  <CompanyVatNumber />\r\n                  <CompanyRepresentedBy
        />\r\n                  <CompanyRepresentative>\r\n                    <Lastname
        />\r\n                    <Firstname />\r\n                  </CompanyRepresentative>\r\n
        \                 <PersonName>Aertssen Saskia</PersonName>\r\n                  <Person>\r\n
        \                   <Lastname>Aertssen</Lastname>\r\n                    <Firstname>Saskia</Firstname>\r\n
        \                 </Person>\r\n                  <CompanyName />\r\n                  <Type>PersonName</Type>\r\n
        \                 <AmountOfActiveMandates>0</AmountOfActiveMandates>\r\n                  <AmountOfPastMandates>0</AmountOfPastMandates>\r\n
        \               </Management>\r\n                <Management>\r\n                  <FunctionCode>10002</FunctionCode>\r\n
        \                 <FunctionDescription>Administrateur</FunctionDescription>\r\n
        \                 <StartDate>20241002</StartDate>\r\n                  <EndDate>20311231</EndDate>\r\n
        \                 <CompanyCountryCode />\r\n                  <CompanyRegistrationNumber
        />\r\n                  <CompanyVatNu[...]
