interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connect.liza.nl/V2.0/alacarteservice.asmx
  response:
    body:
      string: "<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tns=\"ALaCarte\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:http=\"http://schemas.microsoft.com/ws/06/2004/policy/http\"
        xmlns:msc=\"http://schemas.microsoft.com/ws/2005/12/wsdl/contract\" xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"
        xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"
        xmlns:wsam=\"http://www.w3.org/2007/05/addressing/metadata\" targetNamespace=\"ALaCarte\"
        name=\"AlacarteServiceV2_0\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:types>\r\n    <xsd:schema elementFormDefault=\"qualified\" targetNamespace=\"ALaCarte\">\r\n
        \     <xsd:element name=\"GetCompanyByRegistrationNumber\">\r\n        <xsd:complexType>\r\n
        \         <xsd:sequence>\r\n            <xsd:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"request\" type=\"tns:RequestCompanyByRegistrationNumber\" />\r\n          </xsd:sequence>\r\n
        \       </xsd:complexType>\r\n      </xsd:element>\r\n      <xsd:element name=\"GetCompanyByRegistrationNumberResponse\">\r\n
        \       <xsd:complexType>\r\n          <xsd:sequence>\r\n            <xsd:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetCompanyByRegistrationNumberResult\"
        type=\"tns:R[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:GetCompanyByVat
      xmlns:ns0="ALaCarte"><ns0:request><ns0:CountryCode>FR</ns0:CountryCode><ns0:VatNumber>FR51306138900</ns0:VatNumber><ns0:Login>lizatestlogin</ns0:Login><ns0:Password>lizatestpassword</ns0:Password><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>8c982a019a21d4bec98c3f79c6d63c66df0ac512</ns0:LoginHash><ns0:Language>FR</ns0:Language></ns0:request></ns0:GetCompanyByVat></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"ALaCarte/AlacarteServiceV2_0/GetCompanyByVat"'
    method: POST
    uri: https://connect.liza.nl/V2.0/alacarteservice.asmx
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <s:Body>\r\n
        \   <GetCompanyByVatResponse xmlns=\"ALaCarte\">\r\n      <GetCompanyByVatResult>\r\n
        \       <StatusCode>0</StatusCode>\r\n        <StatusMessage>Success</StatusMessage>\r\n
        \       <CompanyResponse>\r\n          <PreferredLanguages>\r\n            <IsEnabled>false</IsEnabled>\r\n
        \         </PreferredLanguages>\r\n          <CountryCode>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>FR</Value>\r\n          </CountryCode>\r\n          <RegistrationNumber>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>306138900</Value>\r\n
        \         </RegistrationNumber>\r\n          <VatNumber>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>FR51 306138900</Value>\r\n          </VatNumber>\r\n          <VatEnabled>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>true</Value>\r\n
        \         </VatEnabled>\r\n          <RsinNumber>\r\n            <IsEnabled>false</IsEnabled>\r\n
        \         </RsinNumber>\r\n          <IsInFollowUp>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>false</Value>\r\n          </IsInFollowUp>\r\n          <FollowUpReference>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value />\r\n          </FollowUpReference>\r\n
        \         <CompanyName>\r\n            <IsEnabled>true</IsEnabled>\r\n            <Value>DECATHLON</Value>\r\n
        \         </CompanyName>\r\n          <CompanyNameAndForm>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>DECATHLON SC</Value>\r\n          </CompanyNameAndForm>\r\n
        \         <CommercialName>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value />\r\n          </CommercialName>\r\n          <ShortName>\r\n
        \           <IsEnabled>false</IsEnabled>\r\n            <Value />\r\n          </ShortName>\r\n
        \         <LegalForm>\r\n            <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n
        \             <Abbreviation>SC</Abbreviation>\r\n              <Code>85</Code>\r\n
        \           </Value>\r\n          </LegalForm>\r\n          <DirectMarketingIndicator>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <DirectMarketingOptOut>false</DirectMarketingOptOut>\r\n
        \             <Description />\r\n            </Value>\r\n          </DirectMarketingIndicator>\r\n
        \         <Address>\r\n            <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n
        \             <Street>BOULEVARD DE MONS</Street>\r\n              <HouseNumber>4</HouseNumber>\r\n
        \             <Box />\r\n              <HouseNumberAndBox>4</HouseNumberAndBox>\r\n
        \             <PostalCode>59650</PostalCode>\r\n              <City>VILLENEUVE
        D ASCQ</City>\r\n              <Country>France</Country>\r\n              <CountryCode>FR</CountryCode>\r\n
        \             <Line1>BOULEVARD DE MONS 4</Line1>\r\n              <Line2>59650
        VILLENEUVE D ASCQ</Line2>\r\n              <Line3>France</Line3>\r\n              <BeStAddId
        xsi:nil=\"true\" />\r\n            </Value>\r\n          </Address>\r\n          <TelephoneNumber>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>+33320916103</Value>\r\n
        \         </TelephoneNumber>\r\n          <TelephoneNumberAll>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>\r\n              <string>+33320916103</string>\r\n            </Value>\r\n
        \         </TelephoneNumberAll>\r\n          <EmailAddress>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value />\r\n          </EmailAddress>\r\n          <EmailAddressAll>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value />\r\n          </EmailAddressAll>\r\n
        \         <Website>\r\n            <IsEnabled>true</IsEnabled>\r\n            <Value>https://www.decathlon.fr</Value>\r\n
        \         </Website>\r\n          <WebsiteAll>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>\r\n              <string>https://www.decathlon.fr</string>\r\n
        \           </Value>\r\n          </WebsiteAll>\r\n          <CompanyStatus>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <Code>0</Code>\r\n
        \             <Info>Actif</Info>\r\n            </Value>\r\n          </CompanyStatus>\r\n
        \         <StartDate>\r\n            <IsEnabled>true</IsEnabled>\r\n            <Value>19770101</Value>\r\n
        \         </StartDate>\r\n          <EndDate>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>0</Value>\r\n          </EndDate>\r\n          <Score>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <Info>score</Info>\r\n
        \             <ScoreImage>pos-27.png</ScoreImage>\r\n              <ScoreAsInt>27</ScoreAsInt>\r\n
        \             <ScoreAsDecimal>2.7</ScoreAsDecimal>\r\n            </Value>\r\n
        \         </Score>\r\n          <CreditLimit>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>\r\n              <Limit>500000</Limit>\r\n              <Code>0</Code>\r\n
        \             <Info />\r\n            </Value>\r\n          </CreditLimit>\r\n
        \         <PaymentExperience>\r\n            <IsEnabled>false</IsEnabled>\r\n
        \         </PaymentExperience>\r\n          <WarningsOverview>\r\n            <IsEnabled>true</IsEnabled>\r\n
        \           <Value>\r\n              <Warnings />\r\n              <Url />\r\n
        \           </Value>\r\n          </WarningsOverview>\r\n          <CurrentManagement>\r\n
        \           <IsEnabled>true</IsEnabled>\r\n            <Value>\r\n              <Management>\r\n
        \               <Management>\r\n                  <FunctionCode>7843</FunctionCode>\r\n
        \                 <FunctionDescription>Membre du conseil d'administration</FunctionDescription>\r\n
        \                 <StartDate>0</StartDate>\r\n                  <EndDate>0</EndDate>\r\n
        \                 <CompanyCountryCode />\r\n                  <CompanyRegistrationNumber
        />\r\n                  <CompanyVatNumber />\r\n                  <CompanyRepresentedBy
        />\r\n                  <CompanyRepresentative>\r\n                    <Lastname
        />\r\n                    <Firstname />\r\n                  </CompanyRepresentative>\r\n
        \                 <PersonName />\r\n                  <Person>\r\n                    <Lastname
        />\r\n                    <Firstname />\r\n                  </Person>\r\n
        \                 <CompanyName>SURHOLYMPIADES</CompanyName>\r\n                  <Type>CompanyName</Type>\r\n
        \                 <AmountOfActiveMandates>0</AmountOfActiveMandates>\r\n                  <AmountOfPastMandates>0</AmountOfPastMandates>\r\n
        \               </Management>\r\n                <Management>\r\n                  <FunctionCode>7843</FunctionCode>\r\n
        \                 <FunctionDescription>Membre du conseil d'administration</FunctionDescription>\r\n
        \                 <StartDate>0</StartDate>\r\n                  <EndDate>0</EndDate>\r\n
        \                 <CompanyCountryCode>FR</CompanyCountryCode>\r\n                  <CompanyRegistrationNumber>844
        505 925</CompanyRegistrationNumber>\r\n                  <CompanyVatNumber>FR07
        844505925</CompanyVatNumber>\r\n                  <CompanyRepresentedBy />\r\n
        \                 <CompanyRepresentative>\r\n                    <Lastname
        />\r\n                    <Firstname />\r\n                  </CompanyRepresentative>\r\n
        \                 <PersonName />\r\n                  <Person>\r\n                    <Lastname
        />\r\n                    <Firstname />\r\n                  </Person>\r\n
        \                 <CompanyName>NEOLYMPIADES</CompanyName>\r\n                  <Type>RegistrationNumber</Type>\r\n
  [...]
