interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connect.liza.nl/V2.0/alacarteservice.asmx
  response:
    body:
      string: "<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tns=\"ALaCarte\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:http=\"http://schemas.microsoft.com/ws/06/2004/policy/http\"
        xmlns:msc=\"http://schemas.microsoft.com/ws/2005/12/wsdl/contract\" xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"
        xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"
        xmlns:wsam=\"http://www.w3.org/2007/05/addressing/metadata\" targetNamespace=\"ALaCarte\"
        name=\"AlacarteServiceV2_0\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:types>\r\n    <xsd:schema elementFormDefault=\"qualified\" targetNamespace=\"ALaCarte\">\r\n
        \     <xsd:element name=\"GetCompanyByRegistrationNumber\">\r\n        <xsd:complexType>\r\n
        \         <xsd:sequence>\r\n            <xsd:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"request\" type=\"tns:RequestCompanyByRegistrationNumber\" />\r\n          </xsd:sequence>\r\n
        \       </xsd:complexType>\r\n      </xsd:element>\r\n      <xsd:element name=\"GetCompanyByRegistrationNumberResponse\">\r\n
        \       <xsd:complexType>\r\n          <xsd:sequence>\r\n            <xsd:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetCompanyByRegistrationNumberResult\"
        type=\"tns:R[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Alerts_AddListOfCompanies
      xmlns:ns0="ALaCarte"><ns0:request><ns0:Companies><ns0:AlertCompany><ns0:CountryCode>BE</ns0:CountryCode><ns0:IdentifierType>VatNumber</ns0:IdentifierType><ns0:Identifier>BE0405056855</ns0:Identifier><ns0:Reference>cd2b5ad9-c26f-41a1-b245-0abe47e28e79</ns0:Reference></ns0:AlertCompany><ns0:AlertCompany><ns0:CountryCode>BE</ns0:CountryCode><ns0:IdentifierType>RegistrationNumber</ns0:IdentifierType><ns0:Identifier>123123123</ns0:Identifier><ns0:Reference>38b9ef0a-8c8a-4c53-852e-d413470be836</ns0:Reference></ns0:AlertCompany></ns0:Companies><ns0:Login>lizatestlogin</ns0:Login><ns0:Password>lizatestpassword</ns0:Password><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>4b012841914d5ede1b647db1cf85e48f6f503cf8</ns0:LoginHash><ns0:Language>FR</ns0:Language></ns0:request></ns0:Alerts_AddListOfCompanies></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"ALaCarte/AlacarteServiceV2_0/Alerts_AddListOfCompanies"'
    method: POST
    uri: https://connect.liza.nl/V2.0/alacarteservice.asmx
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <s:Body>\r\n
        \   <Alerts_AddListOfCompaniesResponse xmlns=\"ALaCarte\">\r\n      <Alerts_AddListOfCompaniesResult>\r\n
        \       <StatusCode>0</StatusCode>\r\n        <StatusMessage>Success</StatusMessage>\r\n
        \       <NumberOfAlertsAddedOrUpdated>1</NumberOfAlertsAddedOrUpdated>\r\n
        \       <InvalidCompanies>\r\n          <InvalidAlertCompany>\r\n            <Code>354</Code>\r\n
        \           <Message>Le param\xE8tre \"Identifier\" n\u2019est pas un numero
        de registration valide ou est vide.</Message>\r\n            <Company>\r\n
        \             <CountryCode>BE</CountryCode>\r\n              <IdentifierType>RegistrationNumber</IdentifierType>\r\n
        \             <Identifier>123123123</Identifier>\r\n              <Reference>38b9ef0a-8c8a-4c53-852e-d413470be836</Reference>\r\n
        \           </Company>\r\n          </InvalidAlertCompany>\r\n        </InvalidCompanies>\r\n
        \     </Alerts_AddListOfCompaniesResult>\r\n    </Alerts_AddListOfCompaniesResponse>\r\n
        \ </s:Body>\r\n</s:Envelope>"
    headers:
      content-type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
