interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://connect.liza.nl/V2.0/alacarteservice.asmx
  response:
    body:
      string: "<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tns=\"ALaCarte\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:http=\"http://schemas.microsoft.com/ws/06/2004/policy/http\"
        xmlns:msc=\"http://schemas.microsoft.com/ws/2005/12/wsdl/contract\" xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"
        xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"
        xmlns:wsam=\"http://www.w3.org/2007/05/addressing/metadata\" targetNamespace=\"ALaCarte\"
        name=\"AlacarteServiceV2_0\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:types>\r\n    <xsd:schema elementFormDefault=\"qualified\" targetNamespace=\"ALaCarte\">\r\n
        \     <xsd:element name=\"GetCompanyByRegistrationNumber\">\r\n        <xsd:complexType>\r\n
        \         <xsd:sequence>\r\n            <xsd:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"request\" type=\"tns:RequestCompanyByRegistrationNumber\" />\r\n          </xsd:sequence>\r\n
        \       </xsd:complexType>\r\n      </xsd:element>\r\n      <xsd:element name=\"GetCompanyByRegistrationNumberResponse\">\r\n
        \       <xsd:complexType>\r\n          <xsd:sequence>\r\n            <xsd:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetCompanyByRegistrationNumberResult\"
        type=\"tns:R[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:SearchCompanies
      xmlns:ns0="ALaCarte"><ns0:request><ns0:CountryCode>BE</ns0:CountryCode><ns0:SearchTerm>Acsone
      SA</ns0:SearchTerm><ns0:Login>lizatestlogin</ns0:Login><ns0:Password>lizatestpassword</ns0:Password><ns0:ServiceIntegrator>acsone</ns0:ServiceIntegrator><ns0:LoginHash>5d8116241ce7c76e8365d6ab5b250c23b8ef5fbf</ns0:LoginHash><ns0:Language>FR</ns0:Language></ns0:request></ns0:SearchCompanies></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"ALaCarte/AlacarteServiceV2_0/SearchCompanies"'
    method: POST
    uri: https://connect.liza.nl/V2.0/alacarteservice.asmx
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <s:Body>\r\n
        \   <SearchCompaniesResponse xmlns=\"ALaCarte\">\r\n      <SearchCompaniesResult>\r\n
        \       <StatusCode>0</StatusCode>\r\n        <StatusMessage>Success</StatusMessage>\r\n
        \       <SearchResponseList>\r\n          <SearchResponseItem>\r\n            <CountryCode>BE</CountryCode>\r\n
        \           <RegistrationNumber>BE 0632.748.321</RegistrationNumber>\r\n            <CompanyName>Acson
        IT (Une ancienne d\xE9nomination d'une \xE9tablissement de \"Adyns Andy\")</CompanyName>\r\n
        \           <Country>Belgique</Country>\r\n            <Street>Pastoor De
        Swaeflaan</Street>\r\n            <City>Maldegem</City>\r\n            <IsActive>true</IsActive>\r\n
        \         </SearchResponseItem>\r\n          <SearchResponseItem>\r\n            <CountryCode>BE</CountryCode>\r\n
        \           <RegistrationNumber>BE 0835.207.216</RegistrationNumber>\r\n            <CompanyName>Acsone</CompanyName>\r\n
        \           <Country>Belgique</Country>\r\n            <Street>Dr\xE8ve Richelle</Street>\r\n
        \           <City>Waterloo</City>\r\n            <IsActive>true</IsActive>\r\n
        \         </SearchResponseItem[...]
